<div id="SiteNav" class="site-nav" role="menu">
      <ul class="list--nav">
        {% for link in menus[section.settings.main_menu_link_list].links %}
          {% assign outer_index = forloop.index %}
          {% if link.links != blank %}
            {% assign has_active_link = false %}

            {% if link.active or link.child_active %}
              {% assign has_active_link = true %}
            {% endif %}

            <li class="site-nav--has-submenu site-nav__item">
              <button class="site-nav__link btn--link{% if has_active_link %} site-nav__collapse{% else %} site-nav__expand{% endif %}" aria-expanded="{{ has_active_link }}" aria-controls="Collapsible-{{ forloop.index }}">
                {{ link.title | escape }}
                
              </button>
              <ul id="Collapsible-{{ forloop.index }}" class="site-nav__submenu{% if has_active_link %} site-nav__submenu--expanded{% else %} site-nav__submenu--collapsed{% endif %} arrow" aria-hidden="{% if has_active_link %}false{% else %}true{% endif %}"{% unless has_active_link %} {% endunless %}>
                {% for childlink in link.links %}
                  {% if childlink.links != blank %}
                    {% assign has_active_childlink = false %}

                    {% if childlink.active or childlink.child_active %}
                      {% assign has_active_childlink = true %}
                    {% endif %}

                    <li class="site-nav--has-submenu">
                      <button class="site-nav__link btn--link{% if has_active_childlink %} site-nav__collapse{% else %} site-nav__expand{% endif %}" aria-expanded="{{ has_active_childlink }}" aria-controls="Collapsible-{{ outer_index }}-{{ forloop.index }}">
                        {{ childlink.title | escape }}
                        
                      </button>
                      <ul id="Collapsible-{{ outer_index }}-{{ forloop.index }}" class="site-nav__submenu site-nav__submenu--grandchild{% if has_active_childlink %} site-nav__submenu--expanded{% else %} site-nav__submenu--collapsed{% endif %}" aria-hidden="{% if has_active_childlink %}false{% else %}true{% endif %}"{% unless has_active_childlink %}{% endunless %}>
                        {% for grandchildlink in childlink.links %}
                          <li class="site-nav__grandchild{% if grandchildlink.active or collection.current_type == grandchildlink.title or collection.current_vendor == grandchildlink.title %}{% unless forloop.first and grandchildlink.title contains 'All' and current_tags.size > 0 %} site-nav--active{% endunless %}{% endif %}">
                            <a href="{{ grandchildlink.url }}" class="site-nav__link"{% if grandchildlink.active %} aria-current="page"{% endif %}>{{ grandchildlink.title | escape }}<span></span></a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                      <a href="{{ childlink.url }}" class="site-nav__link"{% if childlink.active %} aria-current="page"{% endif %}>{{ childlink.title | escape }}<span></span></a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <!--「ホーム」<li class="site-nav__item{% if link.active %} site-nav--active{% endif %}">
              <a href="{{ link.url }}" class="site-nav__link"{% if link.active %} aria-current="page"{% endif %}>{{ link.title | escape }}</a>
            </li>-->
          {% endif %}
        {% endfor %}

  </ul>
  </div>

  




{% schema %}
{
  "name": {
    "cs": "Postranní lišta",
    "da": "Sidebjælke",
    "de": "Seitenleiste",
    "en": "Sidebar",
    "es": "Barra lateral",
    "fi": "Sivupalkki",
    "fr": "Barre latérale",
    "it": "Sidebar",
    "ja": "サイドバー",
    "ko": "사이드바",
    "nb": "Sidefelt",
    "nl": "Zijbalk",
    "pl": "Pasek boczny",
    "pt-BR": "Barra Lateral",
    "pt-PT": "Barra lateral",
    "sv": "Sidofält",
    "th": "แถบด้านข้าง",
    "tr": "Kenar çubuğu",
    "vi": "Thanh bên",
    "zh-CN": "侧边栏",
    "zh-TW": "側邊欄"
  },
  "settings": [
    {
      "type": "link_list",
      "id": "main_menu_link_list",
      "label": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    }
  ]
}
{% endschema %}
